/* Variables */

$color-light: white;
$color-dark: black;
$color-first: whitesmoke;
$color-second: #FFE07E;
$color-third: grey;
$color-fourth: #F7F7F7;
$color-super: gold;
$font-first: 'Roboto', sans-serif;
$font-second: 'Roboto Mono', monospace;
$font-logo: 'Parisienne', cursive;
$transition-first: all 1s;
$transition-second: all 0.1ms;

/* Global */

*, *::before, *::after  {
    box-sizing: border-box;
}

.btn  {
    display: inline-block;
    min-width: 180px;
    margin: 24px auto 1 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-first;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition-first;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

/* Logo */

.logo {
    font-family: $font-logo;
    font-size: 30px;
    font-weight: 700;
    a {
        text-decoration: none;
        color: $color-super;
    }
}

/* Navigation bar & welcome */

.navbar {
    background-image: url('/images/background.webp');
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav .navbar-list {
    font-family: $font-first;
    font-size: 20px;
    list-style-type: none;
    text-align: end;
    li {
        display: inline-block;
        padding: 20px 18px;
        a {
            text-decoration: none;
            color: $color-first;
        }
    }
}

.page-title {
    margin-top: 120px;
    font-size: 50px;
    font-family: $font-second;
    font-weight: 400;
    color: $color-light;
    text-align: center;
    position: relative;
    right: 0;
}

.page-subtitle {
    font-size: 60px;
    font-family: $font-second;
    font-weight: 700;
    color: $color-light;
    text-align: center;
    position: relative;
    right: 0;
}

.btn-one {
    border-color: $color-light;
    color: $color-light;
    background-image: linear-gradient(90deg, $color-second 50%, transparent 50%);
    &:hover {
        background-position: 0 100%;
        color: $color-light;
        border: none;
        transition: $transition-second;
    }
}

/* Services */

.services {
    background: $color-light;
    .title-details {
        h3 {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 0px;
            font-family: $font-first;
            font-size: 40px;
            position: relative;
        }
        p {
            text-align: center;
            color: $color-third;
            margin-top: 0px;
            font-family: $font-second;
            font-size: 15px;
            font-style: oblique;
        }
    }
}

.services-details {
  padding-top: 55px;
  padding-bottom: 110px;
  text-align: center;
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
      font-family: $font-second;
      font-size: 13px;
      color: $color-third;
      padding-top: 10px;
    }
    i {
      text-align: center;
      color: $color-second;
      font-size: 2.6rem;
      padding-bottom: 25px;
      width: 90px;
	    height: 90px;
      line-height: 85px;
	    border: 3px solid $color-second;
	    border-radius: 100%;
    }
}

/* PORTFOLIO */

.portfolio {
    background: $color-fourth;
    .title-details {
        h3 {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 0px;
            font-family: $font-first;
            font-size: 40px;
            position: relative;
        }
        p {
            text-align: center;
            color: $color-third;
            margin-top: 0px;
            font-family: $font-second;
            font-size: 15px;
            font-style: oblique;
        }
    }
}

.portfolio-details {
  background: $color-fourth;
  padding-top: 55px;
  text-align: center;
    h3 {
      text-align: center;
      margin-bottom: 0px;
    }
    p {
      text-align: center;
      margin-top: 0px;
      font-family: $font-second;
      font-size: 13px;
      font-style: oblique;
      color: $color-third;
    }
    .card-image img {
      margin-bottom: -4px;
    }
    .card-body {
      background-color: $color-light;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 0px;
      margin-bottom: 50px;
    }
}
